*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#video-area{

  position: absolute;
  top:-1em;
  width:100%;
  height: 1200px;
}
#video{
  width:100%;
  height:100%;
}
.slider{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
nav{
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color:white;
  align-items: center;
}
#logo{
  color:goldenrod;
grid-column: 2/3;
font-size: 24px;
}
.hambuger{
  justify-self: end;
}
section{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.hero{
  height: auto;
  width: 100%;
  position: relative;

}

.headline{
  text-decoration: underline;
  text-decoration-style: dotted;
  position: absolute;
  margin-top:-25%;
  left:20%;
  font-size: 100px;
  transform:translate(-20%,-70%);
  color:goldenrod;
  z-index: 3;
}
.start{
  font-size: 50px;
  position:absolute;
  text-decoration: none;
  color:cyan;
  left:50%;
  transform:translateX(-50%);
  margin-top:-10%;
  border:1px solid cyan;
  outline-offset: 4px;
  border-radius: 19%;
}
 .start:hover,
 .start:focus{
  color:goldenrod;
  border-color: goldenrod;
}
.hero::after{
  content:"";
  background:black;
  width: 100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  opacity: 0.3;
}
.content section  a{
  color:blue;
}
.school-btn:hover;
.school-btn:focus{
  color:cyan;
}
  .footer-div{
    margin-top:-10em;
    width:700px;
    margin-left:-1%
  }
  .footer-cont{
    margin-top:-6em;
    outline:2px solid goldenrod;
    background-color:gray;
  }
  .tred{
    margin-top:-5em;
    margin-left:20%;
    color:goldenrod;
  }
  .vid2{
    margin-left:10%;
  }
  #image{

    width:100%;
    height:100%;
  }
  .school-btn1{
    position:absolute;
    margin-left:-36%;
    text-decoration:none;
    color:goldenrod;
    font-size:25px;
    border:1px solid goldenrod;

    border-radius:9%;
    top:50em;

  }
  .school-btn2{
    position:absolute;
    margin-left:13.5%;
    text-decoration:none;
    color:goldenrod;
    font-size:25px;
    border:1px solid goldenrod;

    border-radius:9%;
    top:50em;
  }
  #im1{
    width:600px;
     height:500px;
      margin-left:-25%;
  }
  #im2{
    width:600px;
     height:500px;
    margin-left:25%;
  }
  #des{
    font-size: 20px;
    margin-left:-10%;
    width:700px;
    margin-top:2em;
  }
  #hd{
    color:goldenrod;
    font-family:Sans-serif;
    margin-top:-25em;
    margin-left:20%;
  }
  .content{

    background-image:url('land/dubai.jpg');
    background-size:100%;
    margin-top:-5em;
    height:auto;
  }
  .video2{
    margin-top:-60em;
  }
  .description{
    height:400px;
  }
  @media (max-width:1384px){
    .hero{
      top:-5em;
    }

  }
  @media (max-width:1246px){
    .hero{
      top:-12em;
    }
    .headline{
      top:100%;
    }
    .start{
      top:140%;
    }

  }
  @media (max-width:1046px){
    .hero{
      top:-15em;
    }

  }
  @media (max-width:944px){
    .hero{
      top:-18em;
    }
    .headline{
      top:80%;
    }
    .headline{
      top:100%;
    }
    .start{
      top:140%;
    }
  }
@media (max-width:972px){
  .start{

    font-size: 45px;
  }
  .headline{
    font-size: 80px;
  }
  #logo{
    font-size: 20px;
  }
}
@media (max-width:874px){
  .start{

    font-size: 40px;
  }
}
@media (max-width:842px){
  .start{
    font-size: 30px;
  }
  .headline{
    font-size: 70px;
    top:80%;
  }
  .hero{
    top:-20em;
  }
  .headline{
    top:100%;
  }
  .start{
    top:140%;
  }

}
@media (max-width:776px){
  .start{

    font-size: 25px;
  }
  .headline{
    font-size: 60px;
  }
  #logo{
    font-size: 16px;
  }
}
@media (max-width:738px){
  .start{
    font-size: 25px;
    top:100%;
  }
  .headline{
    font-size: 60px;
    top:70%;
  }
  .hero{
    top:-20em;
  }
  .headline{
    top:100%;
  }
  .start{
    top:130%;
  }

}
@media (max-width:676px){
  .start{

    font-size: 20px;
    top:90%;
  }
  #logo{
    font-size: 13px;
  }
  .headline{
    top:100%;
  }
  .start{
    top:120%;
  }
}
@media (max-width:584px){
  .start{
    top:80%;
    font-size: 20px;
  }
  #logo{
    font-size: 11px;
    margin-left:10%;
  }
  .headline{
    font-size: 50px;
    top:60%;
  }
}
@media (max-width:566px){
  .start{
    top:110%;
    font-size: 20px;
  }
  #logo{
    font-size: 11px;
    margin-left:10%;
  }
  .headline{
    font-size: 50px;
    top:90%;
  }

  #video{
  display:none;

  }
  #image{
    background-image: url('land/solar.jpg');
    height: 320px;

  }

}

@media (max-width:484px){
  .start{
    top:110%;
    font-size: 12px;
  }
  .headline{
    font-size: 50px;
    top:90%;
  }

}
@media (max-width:478px){
  .start{
    top:110%;
    font-size: 12px;
  }
  .headline{
    font-size: 40px;
    top:85%;
  }
}
@media (max-width:386px){
  .start{
    top:110%;
    font-size: 12px;
  }
  .headline{
    font-size: 35px;
    top:85%;
  }
}
@media (max-width:228px){
  .start{
    top:80%;
    font-size: 9px;
  }
  .headline{
    font-size: 30px;
    top:65%;
  }
}
@media (max-width:420px){
  #img{
    display: none;
  }
  #logo{
    margin-left: -15%;

  }
  .hambuger{
    margin-left: 10%;
  }
}
@media (max-width:1268px){
  .footer-div{

    width:600px;
    height: 50px;
  }
}
@media (max-width:1150px){
  .footer-div{

    width:550px;
    height: 100px;
  }
}
@media (max-width:1086px){
  .footer-div{

    width:500px;
    height: 100px;
  }
}
@media (max-width:1026px){
  .footer-div{

    width:450px;
    height: 100px;
  }
}
@media (max-width:968px){
  .footer-div{

    width:400px;
    height: 100px;
  }
}
@media (max-width:912px){
  .footer-div{

    width:300px;
    height: 170px;
  }
}
@media (max-width:802px){
  section{
    display:flex;
    flex-wrap: wrap;

  }
  .footer-div{

    width:250px;
    height: 200px;
    margin-top: -17em;
  }
  .footer-cont{
    height: 800px;
    outline: none;
  }
}
@media (max-width:754px){

  .footer-div{

    width:600px;
    height: 200px;
    margin-top: 5em;

  }
  .footer-cont{
    height: 900px;
    outline: none;
  }
}
@media (max-width:618px){

  .footer-div{

    width:500px;
    height: 200px;
    margin-top: 1em;

  }
  .footer-cont{
    height: 900px;
    outline: none;
  }
  .tred{
    margin-top: -1em;
  }
}
@media (max-width:520px){

  .footer-div{

    width:400px;
    height: 200px;
    margin-top: 5em;

  }
  .footer-cont{
    height: 1000px;
    outline: none;
  }
  .tred{
    margin-top:-2em;
  }
  .vid2{
    margin-top: em;
  }
}
@media (max-width:740px){

  .footer-div{

    width:900px;
    height: 800px;
    margin-top: 5em;
    margin: 20%;

  }
  .footer-cont{
    height: 1000px;
    outline: none;
  }
  .tred{
    margin-top:-2em;
  }
  .vid2{
  position: absolute;
  top:155em;
  margin-left: -1%;
  }
}
@media (max-width:694px){
  .vid2{
    top:156em;
  }
}
@media (max-width:568px){
  .vid2{
    display: none;

  }
  .footer-div{

    width:900px;
    height: 300px;
    margin-top: -5em;


  }
  .footer-cont{
    height: 700px;
    outline: none;
  }
}
@media (max-width:1544px){
  .school-btn1{
    margin-left:-36%;

    top:45em;

  }
  .school-btn2{
    margin-left:8.5%;
    top:45em;
  }
  #im1{
    width:600px;
     height:500px;
      margin-left:-16%;
  }
  #im2{
    width:600px;
     height:500px;
    margin-left:16%;
  }
}
@media (max-width:1402px){
  .school-btn1{
    margin-left:-39%;

    top:40em;

  }
  .school-btn2{
    margin-left:6.5%;
    top:40em;
  }
  #im1{
    width:600px;
     height:500px;
      margin-left:-6%;
  }
  #im2{
    width:600px;
     height:500px;
    margin-left:6%;
  }
}
@media (max-width:1182px){
  #secx{
    display: flex;
    flex-wrap: wrap;
  }
  .school-btn1{
    margin-left:-28%;
    transform:translateX(-50%);

    top:30em;

  }
  .school-btn2{
    margin-left:-28%;
    transform:translateX(-50%);
    top:65em;
  }
  #im1{
    width:600px;
     height:500px;
      margin-left:-6%;
      margin-top: 20em;
  }
  #im2{
    width:600px;
     height:500px;
    margin-left:-4%;
    margin-top: 20em;
  }
  #hd{
    margin-top: -2em;
  }
  .video2{
    margin-top: 5em;
  }
#des {
  width:300px;
  font-size: 15px;
}
#hd{
  margin-left: -15%;
}
}
@media (max-width:872px){
  .video2{
    margin-left: 5%;
  }
  #des{
    margin-left: 3%;
  }
  #hd{
    margin-left: 2%;
  }
}
@media (max-width:782px){
  .drop{
    display: flex;
    flex-wrap: wrap;
  }
  #des{
    width:700px;

  }
  #hd{
    margin-left: 24%;
    margin-top: 12em;
  }
}
@media (max-width:1002px){
  .school-btn1{
    margin-left:-42%;
    transform:translateX(-30%);

    top:30em;

  }
  .school-btn2{
    margin-left:-42%;
    transform:translateX(-30%);
    top:63em;
  }
}
@media (max-width:874px){
  .school-btn1{
    margin-left:-62%;
    transform:translateX(-10%);

    top:25em;

  }
  .school-btn2{
    margin-left:-62%;
    transform:translateX(-10%);
    top:58em;
  }
}
